@model IEnumerable<Auctioneer.Models.Order>
@{
                /**/

                ViewBag.Title = "Index";
}

@if (!Model.Any())
{
    <div class="jumbotron" style="margin-top: 52px; background: white">
        <h1 class="text-center">No Orders</h1>
        <div style="margin-top: 52px;" class="text-center">
            
        </div>
    </div>
}
else
{
    <h1></h1>
    <table id="orders" class="table table-bordered" style="background: white;">
        <thead>
        <tr>            
            <th>Order #</th>
            <th>Image</th>
            <th>Name</th>
            <th>Address</th>
            <th>Options</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td>@order.Id</td>
                <td>
                    <img src="@Url.Content(order.Auction.Image)" alt="..." class="img-rounded img-responsive" width="50"/>
                </td>
                <td>@order.Auction.ItemName</td>
                <td>@order.Address</td>
                <td>
                    <button data-order-id="@order.Id" class="btn btn-success js-delivered">Delivered</button>
                </td>
            </tr>
        }
        </tbody>
    </table>
}

@section scripts{
    <script>
        $(document).ready(function () {
            $("#orders").DataTable();



            $("#orders").on("click", ".js-delivered", function () {
                var button = $(this);

                bootbox.confirm("Are you sure for the delivery of Order #" + button.attr("data-order-id"), function(result) {
                    if (result) {
                        $.ajax({
                            url: "/api/orders/" + button.attr("data-order-id"),
                            method: "PUT",
                            success: function() {
                                button.parents("tr").remove();
                            }
                        });
                    }
                });

            });
        });
    </script>
}



