@model Auctioneer.ViewModels.AuctionFormViewModel
@{
    ViewBag.Title = "Create";
}

<h2>Add Auction</h2>

@using (Html.BeginForm("Create", "Auctions"))
{
    <div class="form-group">
        @Html.LabelFor(a => a.ItemName)
        @Html.TextBoxFor(a => a.ItemName, new { @class = "form-control" })
        @Html.ValidationMessageFor(a => a.ItemName)
    </div>

    <div class="form-group">
        @Html.LabelFor(a => a.Details)
        @Html.TextAreaFor(a => a.Details, new { @class = "form-control" })
        @Html.ValidationMessageFor(a => a.Details)
    </div>

    <div class="form-group">
        @Html.LabelFor(a => a.StartingPrice)
        @Html.TextBoxFor(a => a.StartingPrice, new { @class = "form-control" })
        @Html.ValidationMessageFor(a => a.StartingPrice)
    </div>

    @*<div class="form-group">
            @Html.LabelFor(i => i.Date)
            @Html.TextBoxFor(i => i.Date, new { @class = "form-control" })
        </div>

        <div class="form-group">
            @Html.LabelFor(i => i.Time)
            @Html.TextBoxFor(i => i.Time, new { @class = "form-control" })
        </div>*@
    <button type="submit" value="Save" class="btn btn-success">Add Auction</button>
}
