@model Auctioneer.ViewModels.BidFormViewModel
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "Bids"))
{
    <div class="form-group">
        @Html.LabelFor(b => b.BidAmount)
        @Html.TextBoxFor(b => b.BidAmount, new { @class = "form-control" })
        @Html.ValidationMessageFor(b => b.BidAmount)
    </div>

    <div class="form-group">
        @Html.LabelFor(a => a.Auction.ItemName)
        @Html.TextBoxFor(a => a.Auction.ItemName, new { @class = "form-control" }) 
    </div>

    <button type="submit" value="Save" class="btn btn-success">Place Bid</button>
}