@model Auctioneer.ViewModels.BidFormViewModel
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "Bids"))
{
    @Html.ValidationSummary(true)
    <div class="form-group">
        @Html.LabelFor(b => b.BidAmount)
        @Html.TextBoxFor(b => b.BidAmount, new { @class = "form-control" })
        @Html.ValidationMessageFor(b => b.BidAmount)
    </div>

    @Html.HiddenFor(a => a.Auction.Id)

    <button type="submit" value="Save" class="btn btn-success">Place Bid</button>
}